@page "/learnBlazor/product"
@rendermode InteractiveAuto

<h3>Product - Data Binding Client</h3>

Name: @product.Name
<br />
Price: @product.Price.ToString("C")
<br />
Description: @product.Description
<br />
Active: @(product.IsActive ? "Yes" : "No")
<br />
Input Price:
<input type="number" @bind-value="@product.Price" @bind-value:event="oninput" />
<br />
Product Properties:
<select>
    @foreach (var prop in product.ProductProperties)
    {
        <option value="@prop.Id">@prop.Key - @prop.Value</option>
    }
</select>

@code {

    Blazor.Model.LearnBlazor.Product product = new Blazor.Model.LearnBlazor.Product
    {
        Name = "Sample Product",
        Price = 19.99m,
        Description = "This is a sample product description.",
        IsActive = true,
        ProductProperties = new List<Blazor.Model.LearnBlazor.Product_Prop>
        {
            new Blazor.Model.LearnBlazor.Product_Prop { Id = 1, Key = "Color", Value = "Red" },
            new Blazor.Model.LearnBlazor.Product_Prop { Id=2, Key = "Size", Value = "Medium" },
            new Blazor.Model.LearnBlazor.Product_Prop { Id=3, Key = "Flavor", Value = "Rose" }
        }
    };
}

